{% extends "base-layout.html" %}
{% set pageId = "page-create-point" %}

  <!-- CSS -->
  {% block styles %}
  <link rel="stylesheet" href="/styles/create-point.css" />
  <link rel="stylesheet" href="/styles/modal.css">
  {% endblock styles %}
  

  <!-- TITLE -->
  {% block title %}
  <title>Criar ponto de coleta</title>
  {% endblock title %}

  <!-- CONTENT -->
  {% block content %}
    {% include "partials/header.html" %}
    <form action="/savepoint" method="POST">
      <!-- Cadastro de informações referente à entidade -->
      <h1>Cadastro do ponto de coleta</h1>
      
      <fieldset>
        <legend>
          <h2>Dados da entidade</h2>
        </legend>

        <div class="field-group"> 
          <div class="field">
            <label for="name">Nome da entidade</label>
            <input type="text" name="name" placeholder="Exemplo: Colectoria"required/>
          </div>

          <div class="field">
            <label for="image">Imagem da entidade</label>
            <input type="url" name="image" placeholder="Digite a URL da imagem" required/>
          </div>
        </div>

        

        <div class="field-group">
          <div class="field">
            <label for="address">Endereço</label>
            <input type="text" name="address" placeholder="Rua, Av..."required/>
          </div>
          <div class="field">
            <label for="address2">Número/Complemento</label>
            <input type="text" name="address2" placeholder="Exemplo: nº 106" required/>
          </div>
        </div>

        <div class="field-group">
          <div class="field">
            <label for="uf">Estado</label>
            <select name="uf" required>
              <option value="" selected disabled>Selecione o estado</option>
            </select>
          </div>

          <div class="field">
            <label for="city">Cidade</label>
            <select name="city" disabled required>
              <option value="">Selecione a cidade</option>
            </select>
            <input type="hidden" name="state">
          </div>
        </div>
      </fieldset>

      <!-- Seletor para opções aceitas pela entidade -->
      <fieldset>
        <legend>
          <h2>Itens de coleta</h2>
          <span>Selecione um ou mais itens</span>
        </legend>

        <div class="items-grid">
          <li data-id="Lâmpadas">
            <img src="./assets/lampadas.svg" alt="lâmpadas">
            <span>Lâmpadas</span>
          </li>


          <li data-id="Pilhas e Baterias">
            <img src="./assets/baterias.svg" alt="baterias">
            <span>Pilhas e Baterias</span>
          </li>

          <li data-id="Papéis e Papelão">
            <img src="./assets/papeis-papelao.svg" alt="papéis">
            <span>Papéis e Papelão</span>
          </li>

          <li data-id="Resíduos Eletrônicos">
            <img src="./assets/eletronicos.svg" alt="eletrônicos">
            <span>Resíduos Eletrônicos</span>
          </li>

          <li data-id="Resíduos Orgânicos">
            <img src="./assets/organicos.svg" alt="resíduos organicos">
            <span>Resíduos Orgânicos</span>
          </li>

          <li data-id="Óleo de Cozinha">
            <img src="./assets/oleo.svg" alt="óleo de cozinha">
            <span>Óleo de Cozinha</span>
          </li>

        </div>
        <input type="hidden" name="items">

      </fieldset>

      <button type="submit">Cadastrar ponto de coleta</button>
    </form>
{% endblock content %}

{% block modal %}
    {% if type == "successful" %}
        {%include "partials/point-created.html"%}
    {% elif type == "error" %}
        {% include "partials/point-error.html" %}
    {% endif %}
{% endblock modal %}

{% block scripts %}
   <script src="/scripts/createPoint.js"></script>
{% endblock scripts %}
