#page-create-point {
    width: 90%;
    max-width: 1100px;
    margin-inline: auto;
}

#page-create-point header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: 700;
    display: flex;
    align-items: center;
}

#page-create-point header a span {
    background-image: url("../assets/arrow-left.svg");
    display: flex;
    width: 20px;
    height: 22px;
    margin-right: 1rem;
}

/*---------------------- Formulário ---------------------- */
form {
    max-width: 730px;
    background-color: #fff;
    padding: 4rem;
    border-radius: 8px;
    margin-top: 5rem;
    margin-inline: auto;
}

form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;
    border: 0;
}

form legend {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

form legend h2 {
    font-size: 24px;
}

form legend span {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

form input, form select {
    background-color: #f0f0f5;
    border: 0;
    padding: 1rem 1.5rem ;
    outline: none;
    border-radius: 8px;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    cursor: pointer;
    transition: background-color .4s;
}

form button:hover {
    background-color: #2fb86e;
}
/*---------------------- Ítens de coleta ---------------------- */
.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.items-grid li {
    background-color: #f5f5f5;
    list-style: none;
    border: 2px solid #f5f5f5;
    height: 180px;
    padding: 32px 24px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.items-grid li img {
    width: 74.1875px;
    height: 74.1875px;
}

.items-grid li.selected {
    background-color: #e1faec;
    border: 2px solid #34cb79;
}

.items-grid li img, .items-grid li span {
    pointer-events: none;
}