@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-list-results .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    #page-list-results main img {
        max-width: 300px;
        height: 220px;
    }
}


@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}

@media (max-width: 440px) {

    #page-list-results header img, #page-create-point header img{
        margin-left: 20%;
    }

    #page-list-results header a p, #page-create-point header a p{
        display: none;
    }

    #page-list-results main .cards {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 50px;
    }

    #page-list-results main .card {
        margin-inline: auto;
    }

    #page-list-results main .card h1 {
        margin-top: 8px;
    }

    #page-list-results main .card h3 {
        margin: 8px 0 0;
    }

    #page-list-results main .card img {
        width: 300px;
        height: 200px;
    }

    #page-create-point .items-grid li {
        height: 150px;
    }

    #page-create-point .items-grid li span {
        margin-top: 8px;
    }

    #page-create-point form {
        padding: 24px;
    } 
}


@media (max-width: 673px) {
    
    

    #page-create-point form button {
        margin-inline: auto;
        width: 100%;
    }
    
    #page-create-point form .field-group {
        flex-direction: column;
    }

    #page-create-point form .field-group .field + .field {
        margin-left: 0;
    }

    #page-create-point .items-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    
    
}

